{% extends 'base.html' %}
{% load static %}

{% block header-background-image %}
{% static 'assets/img/home-bg.jpg' %}
{% endblock %}

{% block header-h1 %}
{% endblock %}


{% block body %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for p in posts %}
                        {% if p.status == 1 %}
                            <div class="post-preview">
                                <a href="{{ p.post_pk }}">
                                    <h2 class="post-title">{{ p.title }}</h2>
                                </a>
                                <h3 class="post-subtitle">{{ p.subtitle }}<br><p>{{ p.get_absolute_url }}</h3>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#!">{{ p.author }}</a>
                                    on {{ p.created_on }}
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                        {% elif p.status == 0 %}
                        {% else %}
                            somethings wrong.
                        {% endif %}
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}
