{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }} - Reinvent the wheel
{% endblock %}

{% block header-background-image %}
    {% if post.head_image %}
        {{ post.head_image.url }}
    {% else %}
    https://picsum.photos/seed/{{ post.id }}/1600/800
    {% endif %}
{% endblock %}

{% block header-h1 %}
{{ post.title }}
{% endblock %}

{% block header-subheading %}
{{ post.subtitle }}
{% endblock %}

{% block meta %}
{{ post.created_at|date:"Y. m. d l" }}
</span>
{% endblock %}

{% block body %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5" id="post-area">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ post.content }}<p>
                    </div>
{% if post.category %}
<h5>category : {{ post.category }}</h5>
{% endif %}
{% if post.series %}
<h5>series : {{ post.series }}</h5>
{% endif %}
{% if post.tag %}
<h5>tag : {{ post.tag }}</h5>
{% endif %}
                </div>
            </div>
        </article>
{% endblock %}
